* {
  box-sizing: border-box;
  font-family: 'lato';
}

body{
  margin:0;
  /* width: 1440px; */
  height: 900px;
}

/* 1. Nav + Header */
header{
  background: url("../img/Coffe Header.png");
  background-size: cover;

  height: 700px;
  border-radius: 30px;
}

nav{
  margin: 39px 138px;
  display: flex;
}

.header-mask{
  background: rgba(20, 54, 66, 0.7);
  height: 100%;
  border-radius: 30px;

  display: flex;
  flex-direction: column;

  position: relative;

}

.header-left{
  flex: auto;
}

.header-left img{
  width: 335px;
}

.header-right{
  display:flex;
  flex-direction: row;

  transition: gap 0.3s;
}

.header-link{
  margin: auto auto;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.header-hero-container{
  text-align: center;
  
  height: 100%;
  align-self: center;
  display:flex;

  position: absolute;
}

.header-hero{
  width: 499px;
  color: white;
  align-self: center;
}

.header-hero h1{
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.header-hero p{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0px;
}

/*! 2. Main */
main{
  width: 925px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.main-card-container{
  width: 925px;
  margin: 0 auto;

  display: flex;
  padding-top: 100px;

  transition: all 1s;
  opacity: 0;
}

.scrolled{
  opacity: 1;
}

.main-card-img img{
  width: 335px;
  height: 460px;

  border-radius: 20px;
  object-fit: cover;
}

.main-card-img-2 img{
  width: 335px;
  height: 335px;

  border-radius: 20px;
  object-fit: cover;
}

.main-card-img-3 img{
  width: 453px;
  height: 453px;

  border-radius: 20px;
  object-fit: cover;
}

.margin-left{
  margin-left: 100px;
}

.margin-right{
  margin-right: 100px;
}

.main-card-desc h1{
  width: fit;
  display: inline-block;

  font-size: 48px;
  font-weight: 1000;
  color: #0F8B8D;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;

  border-bottom: 5px solid #EC9A29;
}

.main-card-desc p{
  font-size: 24px;
  color: #143642;
  margin-top: 20px;
  margin-bottom: 45px;
}

.btn{
  width: 335px;
  height: 70px;

  background: #A8201A;
  color: white;
  font-size: 24px;

  border-radius: 300px;
  border: none;

  display: table-cell;
  vertical-align: middle;
}

.btn a{
  color: white;
  text-decoration: none;
}

/* 3, Find Us */
.find-us{
  height: 632px;
  width: 927px;
  margin: 0 auto;
  text-align: center;
}

.find-us h1{
  font-size: 48px;
  font-weight: 1000;
  color: #0F8B8D;
  margin-bottom: 50px;
}

.span-yellow a{
  font-size: 48px;
  color: #EC9A29;
  text-decoration: none;

  border-bottom: 2px solid #EC9A29; 
}

.find-us-feed img{
  width: 100%;
}

.find-us-feed-img{
  display: grid;
  justify-content: space-between;

  gap: 50px;

  grid-template-columns: 237px 237px 237px;
}

/* 4. Ask Us */
.ask-us{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.ask-us h1{
  font-size: 48px;
  font-weight: 1000;
  color: #0F8B8D;
  margin-bottom: 30px;
}

.ask-us p{
  font-size: 24px;
  color: #143642;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 5. Footer */
footer{
  background: #143642;
  height: 480px;
  border-radius: 30px;

  padding: 100px 100px;
  display: flex;
}

footer div{
  flex: auto;
}

footer div img{
  height: 67px;
}

.footer-link-email{
  margin-top: 30px;
  filter: invert(100%) sepia(93%) saturate(28%) hue-rotate(24deg) brightness(108%) contrast(107%);
}

.footer-link-email img{
  height: 48px;
  margin-right: 10px;
}

footer div h4{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #EC9A29;
  font-size: 24px;
}

footer div p{
  color: #F9FBFE;
  font-size: 24px;
  margin-top: 20px;
}


/* ! Animation */
.scrolled.slide-in-right{
  animation: masuk-kanan 1s;
}

.scrolled.slide-in-left{
  animation: masuk-kiri 1s;
}

.scrolled.slide-in-up{
  animation: masuk-atas 1s;
}

@keyframes masuk-kiri{
  0% {
    transform: translateX(100px);
    opacity: 0%;  
  }
  100% {
    transform: translateX(0px); 
    opacity: 100%;
  }
}

@keyframes masuk-kanan {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes masuk-atas {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Debug */
.dbg{
  min-width: 20%;
  min-height: 60px;

  bottom: 0px;
  background: green;
  padding: 20px;
  position: fixed;
  margin-top: 0px;

  font-size: 24px;
  color: white;
}

.show{
  opacity: 1;
}

.hide{
  opacity: 0;
}